# WordPress .gitignore
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/supercache/
.htaccess
.htaccess.bk
wordfence-waf.php
.private/
*.log
error_log
node_modules/
.DS_Store
Thumbs.db
